a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
.Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Hero .header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Hero .header-container {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
        
.Hero 
.heading 
{
  font-size: 4rem;
  font-weight: 600;
  color: #282e30;
  text-align: center;
  white-space: wrap;
  line-height: 1.2;
  margin: 0;
}

.header-container
.sub-head{
  font-size: 1rem;
  font-weight: 400;
  color: #282e3088;
  text-align: center;
  width: 500px;
  padding: 20px;
}

.header-container
button {
    background-color: #282e30;
    border: 4px solid #e8e9e9;
    border-radius: 30px;
    padding: 20px 28px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.hero-image {
  width: 100%;
  height: auto;
  background-image: url(/Hero.JPG);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  justify-content: center;
  position: relative;
  aspect-ratio: 16 / 9; 
}


.banner {
    width: 100%;
    height: 100px;
    background-color: rgba(237, 238, 240, 0.445);
}

/* suggestion */
.list {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    list-style: none;
    -webkit-box-lines: multiple;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.list-item {
  -webkit-box-align: center;
    align-items: center;
    display: flex;

    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    text-decoration: none;
    background-color: #e8e9e9;
    border-color: rgba(0, 0, 0, 0.04);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
}
.item {
    align-self: stretch;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.item-head {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.item-sub {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  width: 180px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 8px;
}
.item-image {
  height: 128px;
  object-fit: contain;
  width: 128px;
}
#fries {
  height: 100px;
  width: 100px;
}


 /* Map Styles */
.location-container {
  background-color: #f3f3f3;
  margin-top: 50px;
}
.location-flex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
  place-items: center;
  height: auto;

}
.location-boxes {
  width: 576px;
  height: 576px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 20px;
  gap: 20px;
}
.location-content .heading {
  font-size: 2rem;
  color: var(--primary-text-color);
  line-height: 50px;
  margin-bottom: 10px;
}
.location-content p {
  font-size: 1.2rem;
  color: var(--primary-text-color);
  margin-bottom: 20px;
}
.location-container .map-image {
  width: 576px;
  height: 576px;
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}
.location-container .map iframe {
  border: none;
  border-radius: 10px;
}
.location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location::after {
  content: '|';
  position: absolute;
  top: 28%;
  left: 15px;
  transform: translateY(-50%) scaleY(5);
  font-size: 1rem;
  font-weight: 100;
}

.input-with-icon {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  display: flex;
}
.input-with-icon input,
.input-with-icon select {
  width: 100%;
  padding: 20px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}
.input-with-icon .i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
}
.input-with-icon .r {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
}
.input-with-icon #flat {
  transform: translateX(50%);
  left: 20px;
}
        
/* Scheduling inputs container */
#small-icon {
  width: 30px;
  height: 30px;
}
.scheduling-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
}
        
.scheduling-inputs .input-with-icon {
  flex: 1;
  margin: 0;
}
        
.set-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.set-button-content button {
  background-color: var(--primary-secondary-color);
  color: white;
  border: none;
  padding: 20px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.mode-switch {
  display: flex;
  gap: 50px;
  margin-bottom: 1rem;
}

.mode-switch button {
  padding: 8px 16px;
  border: none;
  background: #c4c4c4a6;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.mode-switch button.active {
  background-color: #282e3071;
  color: white;
  border: 1px solid black;
}


/* features */
.features {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.drivers {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
.driver-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.driver-content .text-content {
  width: 100%;
  text-align: start;
  padding: 0 60px;
  font-size: 1.2rem;
}
.drivers .driver-content h1 {
  font-size: 3rem;
  color: var(--primary-text-color);
  margin-bottom: 20px;
  text-align: start;
  font-weight: 700;
}
.driver-content .buttons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
  padding: 0 60px;
}

.driver-content .text-content p {
  font-size: 1.2rem;
  color: var(--primary-text-color);
  width: 800px;
}
.drivers .image-content {
  width: 90%;
  height: 800px;
  border-radius: 10px;
  background-image: url(/1.jpg);
  background-position: center;
  background-position: cover;
  background-size: cover;
  margin: 50px 0;
}
.drivers button {
  background-color: var(--primary-secondary-color);
  color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 30px;
  cursor: pointer;
}

/* History */
.history-boxes {
  display: grid;
  grid-template-columns: 500px;
  place-items: start;
}
.history-content .heading {
  display: flex;
  align-items: start;
  text-align: start;
}
.history-list ul {
  padding-left: 0;
}
.history-list ul li {
  width: 450px;
  list-style-type: none;
}
.history-image {
  width: 100%;
  max-width: 558px;
  height: 372px;
  background-image: url(/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 558px 372px;
  border-radius: 5px;
}

/* Reservation */

#second-container {
  display: flex;
  position: relative; 
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  z-index: 0;
  justify-content: center;
} 
.reserved-content .heading {
  text-align: start;
}
.reserved-details {
  grid-column: 0;
  order: 0;
  width: 100%;
  align-self: center;
  display: flex;
  gap: 20px;
}
.reserved-list {
  background: rgb(157, 205, 214);
  border-radius: 12px;
  box-sizing: border-box;
  display: inline-block;
  padding: 24px;
  position: relative;
  vertical-align: top;
  width: 100%; 
  
}
.reserve-logged {
  width: 700px;
}
.reserved-list .list-heading {
  margin-top: 20.88px;
  height: 88px;
  line-height: 44px;
  /* height: 88px; */
}
 .booking-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 500px;
}
.benefit {
  border-color: rgba(0, 0, 0, 0.04);
  border-style: solid;
  border-width: 1px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 12px 12px 0px;
}
.benefit-list {
  width: 350px;
  height: auto;
  list-style-type: none;
  padding: 16px;
}
.benefit-box {
  display: flex;
  align-items: center;
  gap: 20px;
}