/* Wrapper container */
.nav-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Top part: logo + hamburger */
.nav-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

/* Account Button */
.account-button {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
}
.account-button button {
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 13px 25px;
  background-color: #282e30;
  color: white;
  border-radius: 30px;
  font-size: 1rem;
}

#signup-button {
  background-color: white;
  color: #282e30;
  border: 2px solid #282e3079;
}

/* Hamburger */
.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.hamburger .bar {
  height: 3px;
  width: 25px;
  background-color: #282e30;
  margin: 4px 0;
  transition: 0.3s;
}

/* Navigation links - hidden by default */
.nav-links {
  display: none;
  flex-direction: column;
  background: whitesmoke;
  padding: 20px;
  gap: 40px;
  border-radius: 12px;
  width: 95%;
  max-width: 1200px;
  box-sizing: border-box;
  margin-top: 70px;
  position: absolute;
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-button button {
  background-color: #282e30;
  padding: 14px 24px;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  box-shadow: 5px 20px 20px 5px #282e304d;
}
.nav-links a {
  text-decoration: none;
  color: #282e30;
  font-weight: 500;
  font-size: 16px;
}

/* Accordion content inside nav */
.accordion-item {
  width: 100%;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 0;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 15px;
  margin-top: 8px;
}

.accordion-content li a {
  font-size: 14px;
  color: #282e30;
  text-decoration: none;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}
