@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
#root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}
:root {
  --primary-text-color: #282e30;
  --primary-secondary-color: #010409;
  --secondary-color: ;
  --dip-color: ;
  --text-color: ;
}

